@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'nothing';
  src:url('./fonts/nothing-font-5x7.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

:root {
  font-family: Inter,nothing;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #333333;
  background-color: #E6E6E6;

  padding: 20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 20px;
  background-color: #374151; /* Dark gray color */
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

input[type='range']::-moz-range-thumb {
  width: 10px;
  height: 20px;
  background-color: #374151; /* Dark gray color */
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

